.animationDTT {
    position: relative;
    animation: downtoTop 2s;
}

@keyframes downtoTop {
    0% {
        opacity: 0;
        bottom: -200px;
    }

    50% {
        opacity: 0;
        bottom: -200px;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}

.animationRTL {
    position: relative;
    animation: righttoLeft 1s;
}

@keyframes righttoLeft {
    from {
        opacity: 0;
        right: -200px;
    }

    to {
        opacity: 1;
        right: 0px;
    }
}

.animationLTR {
    position: relative;
    animation: lefttoRight 1s;
}

@keyframes lefttoRight {
    from {
        opacity: 0;
        left: -200px;
    }

    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-10px);
    }

    50% {
        transform: scale(1.05, .95) translateY(0);
    }

    58% {
        transform: scale(1, 1) translateY(-4px);
    }

    65% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.b {
    display: inline;
    animation: bounce 1s ease-in-out;
}

.nameTag {
    cursor: pointer;
    font-size: 54px;
    color: white;
    text-decoration: underline;
}